
.menu{
    display: flex;
    background-color:black;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    padding-left: 50px;
}
body{
    margin: 0px;
    background-color:#f7f2f2;
    
}
a{
    text-decoration: none;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
.bodyimg{
    position: relative;
}
.bodyimg p{
    text-align: center;
    color:#f7f2f2;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bodyimg h3{
    text-align: center;
    color:#f7f2f2;
    font-family: fantasy;
    font-size: 30px;
    width: 1600px;
    position: absolute;
    top:40%;
    left:45%;
    transform: translate(-40%, -40%);
}
    
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 40px;
    margin: 105px;
    width:310px;
    font-family: fantasy;
    text-align: center;
}
.origami:hover{

    transform: scale(1.1);
}

.text h3{
    top:62%;
    left:35%;
    font-family: fantasy;
    font-size: 35px;
    position: static;
    text-align: center;
    align-content: center;
}
.headText{
    padding-right: 30%;
}
.textH3{
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
    align-content: center;
}
.textH4{
    line-height: 35px;
    font-size: 18px;
}
.text h4{
    font-family: fantasy;
    font-size: 25px;
    position: static;
    text-align: center;
    align-content: center;
}
.bodyimg img{
    height:600px;
}

@media screen and (min-width: 2200px) {
    .menu{
        display: flex;
        background-color:black;
        padding: 18.75px;
        font-size: 25px;
        font-family: normal;
        font-weight: 500;
        color: white;
        padding-left: 62.5px;
    }
    body{
        margin: 0px;
        background-color:#f7f2f2;
        
    }
    a{
        text-decoration: none;
    }
    a:link{
        color:white;
    }
    a:visited{
        color:white;
    }
    .bodyimg{
        position: relative;
    }
    .bodyimg p{
        text-align: center;
        color:#f7f2f2;
        font-size: 68.75px;
        font-family: normal;
        position: absolute;
        top:10%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .bodyimg h3{
        text-align: center;
        color:#f7f2f2;
        font-family: normal;
        font-size: 37.5px;
        width: 2000px;
        position: absolute;
        top:40%;
        left:45%;
        transform: translate(-40%, -40%);
    }
        
    .grid{
        display: flex;
        flex-wrap: wrap;
        margin: 50px;
        font-family: normal;
        
    }
    .grid img{
        border: 1px solid black;
        border-radius: 62.5px;
    }
    .origami {
        border-radius: 25px;
        background-color: #ffffff;
        padding: 50px;
        margin: 131.25px;
        width:387.5px;
        font-family: normal;
        text-align: center;
    }
    .origami:hover{
    
        transform: scale(1.1);
    }
    
    .text h3{
        top:62%;
        left:35%;
        font-family: normal;
        font-size: 43.75px;
        position: static;
        text-align: center;
        align-content: center;
    }
    .headText{
        padding-right: 30%;
    }
    .textH3{
        font-family: normal;
        font-size: 31.25px;
        text-align: center;
        align-content: center;
    }
    .textH4{
        line-height: 43.75px;
        font-size: 22.5px;
    }
    .text h4{
        font-family: normal;
        font-size: 31.25px;
        position: static;
        text-align: center;
        align-content: center;
    }
    .bodyimg img{
        height:250px;
    }
}